@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 70rem;
  padding: 2rem 1rem;
  height: 100%;
}
html {
  height: 100%;
}
#app {
  height: 100%;
}

@layer components {
  .link {
    /* @apply text-blue-500 hover:text-blue-950; */
    @apply text-purple-400 hover:text-purple-800;
  }

  .btn-primary {
    @apply bg-orange-500 cursor-pointer gap-2 flex justify-center items-center hover:bg-orange-300 rounded-md drop-shadow-lg px-3 py-1 text-white focus-visible:ring-4 disabled:bg-orange-500/30 disabled:cursor-default disabled:drop-shadow-none  ring-purple-500;
  }
  .btn-secondary {
    @apply bg-purple-500 cursor-pointer flex gap-2 justify-center items-center hover:bg-purple-300 rounded-md drop-shadow-lg px-3 py-1 text-white focus-visible:ring-4 disabled:bg-purple-500/20 disabled:cursor-default disabled:drop-shadow-none  ring-orange-500;
  }
  .btn-delete {
    @apply bg-red-500 cursor-pointer flex gap-2 justify-center items-center hover:bg-red-300 rounded-md drop-shadow-lg px-3 py-1 text-white;
  }
  .active {
    @apply fill-purple-600;
  }
}
